data.ipynb
*.pth
!logs/baseline/*.pth
*.npy

*.parquet
*.pyc
logs
!logs/baseline/
.ipynb_checkpoints/
/dataset/
*.tgz
*.tar.gz
processed_data_train/
processed_data_val/
label_distribution_plots/
.opencode/
!.opencode/memory/
